{% macro menu(is_homepage=false) %}
          <div class="navbar">
            <div class="navbar-logo hidden">
              <a href="/">
                <!-- <img src="/triangle.png" alt="MAN Logo"> -->
                <span>MAN Network</span>
              </a>
            </div>
            <div class="hamburger-menu" role="button" aria-label="Menu" aria-controls="main-nav" aria-expanded="false">
              <div class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <div class="nav-menu" id="main-nav">
              <div class="nav-menu-item"><div class="nav-menu-org"><a href="/">MAN Network</a></div></div>
              <div class="nav-menu-item nav-menu-item--home"><a href="/" class="first">Home</a></div>
              <div class="nav-menu-item"><a href="/software">Software</a></div>
              <div class="nav-menu-item"><a href="/news">News</a></div>
              <div class="nav-menu-item"><a href="/about">About</a></div>
              <div class="nav-menu-item"><a href="/contact">Contact</a></div>
            </div>
          </div>
{% endmacro %}
