{% macro render_software_test_note_promo() %}
<aside
  class="software-test-note-promo software-test-note-promo--map"
  style="--software-test-note-promo-bg: url('/files/software/260115-002-showcase/yema-haizi-trail-map.png');"
  aria-label="Case study: Yema Haizi">
  <div class="software-test-note-promo__content">
    <p class="software-test-note-promo__eyebrow">Case study · Yema Haizi</p>
    <h2 class="software-test-note-promo__title">Running field-audio-tools on a long dual-mic F3 take</h2>
    <div class="software-location-row">
      {% from "macros/software-recording-location.html" import render_take002_location %}
      {{ render_take002_location('software-test-note-promo__location') }}
      {% from "macros/software-route-start.html" import render_take002_route_notes %}
      {{ render_take002_route_notes() }}
    </div>
    <div class="software-test-note-promo__actions">
      <a class="software-test-note-promo__cta" href="/software/running-field-audio-tools-on-a-long-f3-take/">Read the test note →</a>
    </div>
    <div class="software-test-note-promo__corner">
      <a class="software-test-note-promo__gpx" href="/files/software/260115-002-showcase/garze-hiking-yema-haizi-mantle-sound.gpx" download>
        <img
          class="software-test-note-promo__gpx-icon"
          src="/static/gpx.svg"
          alt=""
          width="14"
          height="14"
          decoding="async"
          aria-hidden="true">
        <span>Download GPX</span>
      </a>
      <p class="software-test-note-promo__map-credit">
        <span class="software-test-note-promo__map-credit-line">
          <img
            class="software-test-note-promo__trails-logo"
            src="{{ bag('social-media', 'trails.icon') }}"
            alt=""
            width="14"
            height="14"
            decoding="async"
            aria-hidden="true"><span class="software-test-note-promo__map-credit-text">Route map:
          <a href="https://trails.magdeburg.jetzt/trail/view/@g.yu/aq61aygsd2j81xb" rel="noopener noreferrer">trails.magdeburg.jetzt</a></span>
        </span>
      </p>
    </div>
  </div>
</aside>
{% endmacro %}
