<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "macros/favicon.html" %}
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
{% from "macros/site-brand.html" import site_brand %}
<title>{% if this._path == '/' %}{{ site_brand() }}{% else %}{% block title %}Welcome{% endblock %} | {{ site_brand() }}{% endif %}</title>
{% from "macros/structured-data-nav.html" import structured_data_nav %}
{{ structured_data_nav(this) }}
<body class="{% if this._path == '/' %}is-homepage{% endif %}">
  <header>
    <div id="header-box">
      <div class="container">
        <div id="header-content">
            {% from "macros/header.html" import header %}
            {{ header() }}
        </div>
      </div>
    </div>
  </header>
  <div class="nav-box">
    {% from "macros/menu-less.html" import menu %}
    {{menu(is_homepage=(this._path == "/"))}}
  </div>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  {% from "macros/footer.html" import footer %}
  {{ footer() }}
  
  <script src="{{ '/static/navbar.js'|url }}"></script>
  <script src="{{ '/static/theme.js'|url }}"></script>
  {% if this._path == '/' %}
  <link rel="preload" href="/files/software/260115-002-showcase/recording-rig-on-ice.webp" as="image">
  <script src="{{ '/static/home-gallery.js'|url }}"></script>
  <script src="{{ '/static/home-reveal.js'|url }}"></script>
  <script src="{{ '/static/scramble.js'|url }}"></script>
  {% endif %}
</body>
