{% extends "layout.html" %}
{% from "macros/news-cards.html" import render_news_post %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="news-index">
  <div class="blog-post-bare">
    <h1>{{ this.title }}</h1>
    <div class="subtitle">
      {% set latest_post = this.children.order_by('-pub_date').first() %}
      {% set show_updated = this.updated or (latest_post and latest_post.pub_date) %}
      <p class="news-meta-line">{% if show_updated %}Updated: <span class="post-date">{% if this.updated %}{{ this.updated.strftime('%B %d, %Y') }}{% else %}{{ latest_post.pub_date.strftime('%B %d, %Y') }}{% endif %}</span>{% endif %}{% if show_updated and this.has_rss %}, {% endif %}{% if this.has_rss %}<a href="{{ '/news/feed.xml'|url }}" type="application/atom+xml">Subscribe to feed</a>{% endif %}</p>
    </div>
  </div>
  <div class="news-cards">
    {% for child in this.pagination.items %}
      {{ render_news_post(child, from_index=true) }}
    {% endfor %}
  </div>
</div>
{% endblock %}
