{% extends "layout-software-report.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block sidebar %}
{% from "macros/software-project-nav.html" import software_sidebar %}
{{ software_sidebar(this) }}
{% endblock %}
{% block body %}
<main class="blog-post-bare software-report">
  <h1>{{ this.title|replace('field-audio-tools', '<code>field-audio-tools</code>')|safe }}</h1>
  <div class="software-location-row">
    {% from "macros/software-recording-location.html" import render_take002_location %}
    {{ render_take002_location('software-report__location') }}
    {% from "macros/software-route-start.html" import render_take002_route_notes %}
    {{ render_take002_route_notes() }}
  </div>
  <p class="meta">written by {{ this.author }} on {{ this.pub_date }}</p>
  {% from "macros/software-showcase-gallery.html" import render_take002_showcase_gallery %}
  {{ render_take002_showcase_gallery() }}
  {% set software_hub = site.get('/software') %}
  {% if software_hub and software_hub.intro %}
  <div class="software-report__tool-intro">{{ software_hub.intro }}</div>
  {% endif %}
  {{ this.body }}
</main>
{% endblock %}
