{% extends "layout-software-index.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block sidebar %}
{% from "macros/software-project-nav.html" import software_sidebar %}
{{ software_sidebar(this) }}
{% endblock %}
{% block body %}
<div class="blog-post-bare">
  <h1>{{ this.title }}</h1>
  {% if this.date %}
  <div class="post-date">{{ this.date.strftime('%B %d, %Y') }}</div>
  {% endif %}
  {% from "macros/software-test-note-promo.html" import render_software_test_note_promo %}
  {{ render_software_test_note_promo() }}
</div>
{% from "macros/software-tool-cards.html" import render_software_tool_cards %}
{{ render_software_tool_cards() }}
{% endblock %}
